<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <link rel="stylesheet" href="styles.css">

    <!-- phosphoricons -->
    <script src="https://unpkg.com/@phosphor-icons/web"></script>

    <title>Block Ballot</title>
</head>

<body>

    <% if (typeof response != 'undefined') { %>

        <% if(response == "success") { %>
            <div class="response-box response-box-success">
                <i class="ph-fill ph-check-circle"></i>
                <p>Voted casted successfully.</p>
                <button class="close-response-box">
                    <i class="ph ph-x"></i>
                </button>
            </div>
        <% } else if(response == "duplicate") { %>
            <div class="response-box response-box-warning">
                <i class="ph-fill ph-warning"></i>
                <p>This user has voted already.</p>
                <button class="close-response-box">
                    <i class="ph ph-x"></i>
                </button>
            </div>
        <% } else if(response == "invalid") { %>
                <div class="response-box response-box-warning">
                    <i class="ph-fill ph-warning"></i>
                    <p>Invalid wallet address.</p>
                    <button class="close-response-box">
                        <i class="ph ph-x"></i>
                    </button>
                </div>
        <% } else { %>
            <div class="response-box response-box-error">
                <i class="ph-fill ph-bug"></i>
                <p>An unexpected error occured.</p>
                <button class="close-response-box">
                    <i class="ph ph-x"></i>
                </button>
            </div>
        <% } %>    

    <% } %>

    <nav>
        <div id="nav-logo">
            <img src="./images/blo_pro_logo-light-01.png" alt="Logo" width="50" height="50">
            <span id="Logo">Block Ballot</span>
        </div>

        <div id="nav-buttons">
            <a href="/" class="nav-button selected-button">
                <i class="ph ph-rows"></i>
                <span>Dashboard</span>
            </a>
            <a href="/castvote" class="nav-button">
                <i class="ph ph-archive-box"></i>
                <span>Cast Vote</span>
            </a>
        </div>
    </nav>

    <main>
        <div>
            <div class="heading-container">
                <h3>Summary</h3>
            </div>
            <div class="data-card">
                <div class="candidate-cards">
                    <div class="candidate-card">
                        <div class="candidate-title">
                            <div>
                                <h4><%= candidate1 %></h4>
                                <span>Candidate 1</span>
                            </div>
                            <a class="go-to-page-btn" href="<%= candidate1href %>"
                                target="_blank">
                                <i class="ph ph-arrow-up-right"></i>
                            </a>
                        </div>
                        <div class="candidate-stats">
                            <p>Votes</p>
                            <h2><%= voteCount1 %></h2>
                        </div>
                        <div class="candidate-overall-progress">

                            <% bars1 = isNaN(bars1) ? 0 : bars1 %>

                            <% for (let i = 0; i < bars1; i++) { %>
                                <div class="progress-block filled"></div>
                            <% } %>

                            <% for (let i = bars1; i < 10; i++) { %>
                                <div class="progress-block"></div>
                            <% } %>

                        </div>
                    </div>
                    <div class="candidate-card">
                        <div class="candidate-title">
                            <div>
                                <h4><%= candidate2 %></h4>
                                <span>Candidate 2</span>
                            </div>
                            <a class="go-to-page-btn" href="<%= candidate2href %>"
                                target="_blank">
                                <i class="ph ph-arrow-up-right"></i>
                            </a>
                        </div>
                        <div class="candidate-stats">
                            <p>Votes</p>
                            <h2><%= voteCount2 %></h2>
                        </div>
                        <div class="candidate-overall-progress">

                            <% bars2 = isNaN(bars2) ? 0 : bars2 %>

                            <% for (let i = 0; i < bars2; i++) { %>
                                <div class="progress-block filled"></div>
                            <% } %>

                            <% for (let i = bars2; i < 10; i++) { %>
                                <div class="progress-block"></div>
                            <% } %>

                        </div>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="stats-card">
                    <h4>Poling Unit's vote distribution</h4>
                    <div class="graph">

                        <% for (let i = 0; i < graphItems.length; i++) { %>

                            <% if (graphItems[i] === 0 || voteCount == 0) { %>
                                <div class="graph-item"></div>
                            <% } else { %>
                                <div class="graph-item"style="height: <%= graphItems[i] %>rem;"></div>
                            <% } %>

                        <% } %>

                    </div>
                    <div class="graph-info">
                        <p>Punjab</p>
                        <p>Sindh</p>
                        <p>Balochistan</p>
                        <p>Peshawer</p>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="heading-container">
                <h3>Voters</h3>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Address</th>
                        <th>Vote Time</th>
                        <th>Poling Unit</th>
                        <th>Vote</th>
                    </tr>
                </thead>
                <tbody>

                    <% for (let i = 0; i < voteCount; i++) { %>
                        <tr>
                            <td><%= i+1 %></td>
                            <td><%= votersAddress[i] %></td>
                            <td><%= (new Date(parseInt(votersTimeOfVote[i]))).toLocaleString() %></td>
                            <td><%= votersPolingUnit[i] %></td>
                            <td><%= votersCandidate[i] %></td>
                        </tr>
                    <% } %>
                        
                </tbody>

            </table>

            <% if (voteCount == 0) { %>
                <div id="no-votes-msg">
                    No one has casted a vote yet.
                </div>
            <% } %>
            
        </div>
    </main>

    <script src="./index.js"></script>
</body>

</html>